- if best_answer.present?
  .best_answer= render 'answers/best_answer', resource: best_answer
- if other_answers.present?
  .other_answers= render 'answers/other_answers', collection: other_answers
  
